<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139663386432-i9079r7s7mibg3pethqgaa6e8fi53n6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139663386432-i9079r7s7mibg3pethqgaa6e8fi53n6j</string>
	<key>API_KEY</key>
	<string>AIzaSyAVCWPwCzwoAR7PA29OTtWwWPOJCXk9vBw</string>
	<key>GCM_SENDER_ID</key>
	<string>139663386432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ans96283.HiChat</string>
	<key>PROJECT_ID</key>
	<string>root-rock-245016</string>
	<key>STORAGE_BUCKET</key>
	<string>root-rock-245016.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139663386432:ios:a857a43ba9d2b347943ca5</string>
	<key>DATABASE_URL</key>
	<string>https://root-rock-245016.firebaseio.com</string>
</dict>
</plist>